@charset "UTF-8";

body{
    background-color:#00ff88;
}

header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    background: linear-gradient(90deg, #233329 0%, #63D471 100%);
    color: white;                /*Cor do texto*/
    padding: 10px;                  /*Espaçamento dentro dele*/
    margin: 10px;
    outline: 0px;
    border: 0;
    border-radius: 10px;
    text-align: center;             /*Alinhamento do texto*/
    box-shadow: 10px 10px 10px black;
}

#titulo{
    display: flex;
    justify-content: center;
}

#titulo > img {
    width: 50px;
    height: 50px;
    margin: 0 20px 0 20px;
}

#indicadores{
    display: none;
    justify-content: center;
    flex-wrap: wrap;
}
.indicador{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    font-family: monospace;
    border: 0;
    width: 130px;
    height: 40px;
    margin: 10px;
    box-shadow: 10px 10px 10px black;
    background-color: #233329;
    color: white;
    font-weight: bolder;
    font-size: larger;
}

#telaMSG{
    display: none;
    color: goldenrod;
    width: fit-content;
    height: fit-content;
    padding: 0 10px 0 10px;
}

#temporizador{
    justify-content: space-around;
}

#clock{
    height: 30px;
    width: 30px;
}

.btnIndicador:hover{
    cursor: pointer;
    color: goldenrod;
}

#telaInicial{
    display: flex;
    justify-content: center;
    background: linear-gradient(90deg, #233329 0%, #63D471 100%);
    border-radius: 10px;
    margin: 30px 10px 10px 10px;
    border-radius: 10px;
    box-shadow: 10px 10px 10px black;
}

#selectNivel{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20px;
}

.btnNivel{
    font-family: monospace;
    border-radius: 10px;
    border: 0;
    width: 200px;
    height: 30px;
    cursor: pointer;
    margin: 10px;
    box-shadow: 10px 10px 10px black;
    background-color: #233329;
    color: white;
    font-weight: bolder;
    font-size: larger;
}

.btnNivel:hover{
    color: goldenrod;
}

main{
    display: none;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    background: linear-gradient(90deg, #233329 0%, #63D471 100%);
    
    border-radius: 10px;
    padding: 15px;
    margin-top: 30px;
    margin-left: 10px;
    margin-right: 10px;
    border: 10px;
    outline: 10px;
    height: max-content;
    box-shadow: 10px 10px 10px black;
}

footer{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;             /*Alinhamento do texto*/
    color: white;
    background: linear-gradient(90deg, #233329 0%, #63D471 100%);
    border-radius: 10px;
    padding: 10px;
    margin-top: 30px;
    margin-left: 10px;
    margin-right: 10px;
    border: 10px;
    outline: 0px;
    box-shadow: 10px 10px 10px black;
}

.espacoGrande{
    font-weight: bolder;
    text-align: center;
    width: 30px;
    height: 30px;
    border-radius: 3px;
    margin: 3px;
    cursor: pointer;
}

.imagemEspacoGrande{
    width: 30px;
    height: 25px;
}

.espacoMedio{
    font-weight: bolder;
    text-align: center;
    width: 25px;
    height: 25px;
    border-radius: 3px;
    margin: 3px;
    cursor: pointer;
}

.imagemEspacoMedio{
    width: 25px;
    height: 20px;
}

.espacoPequeno{
    font-weight: bolder;
    text-align: center;
    width: 20px;
    height: 20px;
    border-radius: 3px;
    margin: 3px;
    cursor: pointer;
}

.imagemEspacoPequeno{
    width: 20px;
    height: 15px;
}

.logo > img{
    width: 30px;
    height: 30px;
    padding-left: 10px;
    padding-right: 10px;
}

.coberto{
    background-color:darkgreen;
}

.verificado{
    background-color:darkgray;
}

.aberto{
    background-color:chocolate
}

.bloqueado{
    background-color:black
}

.azul{
    color: blue
}

.verde{
    color: green
}

.vermelho{
    color: red
}

.azulEscuro{
    color: darkblue
}

.amarelo{
    color: yellow
}

.branco{
    color: white
}

.golden{
    color: goldenrod;
}

.interrogacao{
    color: yellow
}

.explodindo{
    animation-name: explodir;
    animation-duration: 0.5s;
}

@keyframes explodir {
    0%   {width :30px; height: 30px; background-color: darkorange;}
    100% {width :100px; height: 100px; background-color: red;}
}

#telaInstrucoes{
    display: none;
}

.bloco_instrucao{
    display: flex;
    flex-direction: column;

    align-items: center;
    border-radius: 10px;
    font-family:Arial, Helvetica, sans-serif;
    border: 0;
    width: 33%;
    margin: 10px;
    box-shadow: 10px 10px 10px black;
    background-color: #233329;
    color: white;
    font-size: larger;
}

#telasVD{
    height: 180px;
    width: 400px;
}

#mouse{
    height: 150px;
    width: 100px;
}

#indicadoresImagem{
    height: 150px;
    width: 350px;
}

.inst_expl{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
}

.inst_expl > p{
    padding: 10px 15px 10px 15px;
    margin: 0;
}

#btnVoltar{
    display: none;
    width: 300px;
}